*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: aliceblue;
}


.head-div{
    background-color: rgb(3, 9, 40);
    color: whitesmoke;
     text-align: center;
    padding: 50px;
}
.heading{
    padding: 20px;
}

.about-div{
    background-color: white;
    
}

.div-style{
    text-align: center;
    padding: 30px;
    margin: 70px;
    border-radius: 20px;
    border: 2px solid cyan;
}